.welcome {
	padding: 40px 15px;
	text-align: center;
	background-color: #D1F4FF;
	font-family: "freight text pro", serif;
}

body {
	background-color: #D1F4FF;
}

.jumbotron {
	background-color: #D1F4FF;
}

